<div class="welcome">
  <span id="title">Bienvenido a torrenteservidor.es</span >
</div>
<span class="description">  
    Hola caballeros y bienvenido a la web de torrenteservidor.es, el proyecto de la
    resurrección del matchmaker de Torrente-Online. De momento el proyecto está en
    versión alfa, pero se puede probar jugar en ello.
</span>
<div class="header-container">

  <div class="img-btn-bar">
    <div class="wrapper-img-btn"[class]="{
        'wrapper-img-btn-active': actual_path.indexOf('downloads') >= 0
      }">
    <div
      class="img-btn-base"
      [class]="{
        'img-btn': actual_path.indexOf('downloads') == -1,
        'img-btn-active': actual_path.indexOf('downloads') >= 0
      }"
      [style]="getImgBoxStyle('disc.png')"
      routerLink="/downloads"
    >
      
    </div>
    <span class="overlay-text">Descarga el juego</span>
    </div>
    <div class="wrapper-img-btn"[class]="{
        'wrapper-img-btn-active': actual_path.indexOf('matchmaker') >= 0
      }">
    <div
      class="img-btn-base"
      [class]="{
        'img-btn': actual_path.indexOf('matchmaker') == -1,
        'img-btn-active': actual_path.indexOf('matchmaker') >= 0
      }"
      [style]="getImgBoxStyle('matchmaker.png')"
      routerLink="/matchmaker"
    >
      
    </div>
    <span class="overlay-text">Configura para matchmaker</span>
    </div>
    <div class="wrapper-img-btn" class="wrapper-img-btn"[class]="{
        'wrapper-img-btn-active': actual_path.indexOf('community') >= 0
      }">
    <div
      class="img-btn-base"
      [class]="{
        'img-btn': actual_path.indexOf('community') == -1,
        'img-btn-active': actual_path.indexOf('community') >= 0
      }"
      [style]="getImgBoxStyle('scoreboard.png')"
      routerLink="/community"
    >
      
    </div>
    <span class="overlay-text">Únete a la comunidad</span>
    </div>
    <div class="wrapper-img-btn" class="wrapper-img-btn"[class]="{
        'wrapper-img-btn-active': actual_path.indexOf('party_list') >= 0
      }">
    <div
      class="img-btn-base"
      [class]="{
        'img-btn': actual_path.indexOf('party_list') == -1,
        'img-btn-active': actual_path.indexOf('party_list') >= 0
      }"
      [style]="getImgBoxStyle('scoreboard.png')"
      routerLink="/party_list"
    >
      
    </div>
    <span class="overlay-text">Listado de partidas disponible</span>
    </div>
  </div>
 
 
</div>
