.welcome {
  color: #f1a200;
  background-color: #d6c56f;
  font-size: 250%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  text-align: center;
  vertical-align: center;
}

.img-btn-bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2em;
  width: 100%;

}

.img-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 30%;
    min-width: 334px;
    min-height: 200px;
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.img-btn:hover {
  filter: brightness(0.5);
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.5))
          drop-shadow(0 0 8px currentColor);
  transition: filter 0.3s ease;
}

.img-btn-active{
  filter: brightness(0.5);
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.5))
          drop-shadow(0 0 8px currentColor);
  transition: filter 0.3s ease;
}

.overlay-text {
  color: white;

  font-weight: bold;
  pointer-events: none;
}

code {
  font-size: 0.5em;

}
.header-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
}
.description{
    font-size: 1.5em;
    text-align: center;
    vertical-align: center;
}
