
<div class="scroll-container">
    <table class="tabla-scroll">
        <thead>
            <tr>
                <th>Nombre de la partida</th>
                <th>Escenario</th>
                <th>Jugadores</th>
                <th>Tiempo</th>
                <th>Ping</th>
            </tr>
        </thead>        
        <tbody>
            <!-- Aquí puedes repetir las filas para probar el scroll -->
            <tr><td>💀 Gunner-24x7!!!!</td><td>MP_DM_LOVEBOAT</td><td>1 / 16</td><td>30</td><td>21</td></tr>
            <tr><td>💣 SniperZone</td><td>MP_DM_CASTLE</td><td>5 / 16</td><td>12</td><td>55</td></tr>
            <tr><td>🔫 UrbanWarfare</td><td>MP_DM_SUBWAY</td><td>12 / 16</td><td>45</td><td>33</td></tr>
            <tr><td>🎯 ArenaXtreme</td><td>MP_DM_DOCKS</td><td>3 / 16</td><td>19</td><td>42</td></tr>
            <tr><td>⚔️ DesertStorm</td><td>MP_DM_BAZAAR</td><td>14 / 16</td><td>38</td><td>18</td></tr>
            <tr><td>💥 RocketRumble</td><td>MP_DM_RUINS</td><td>2 / 16</td><td>22</td><td>60</td></tr>
            <tr><td>🧨 MinesBlaster</td><td>MP_DM_MINES</td><td>6 / 16</td><td>27</td><td>35</td></tr>
            <tr><td>🚀 JetFrenzy</td><td>MP_DM_SPACEPORT</td><td>9 / 16</td><td>33</td><td>47</td></tr>
            <tr><td>🔫 HeadshotOnly</td><td>MP_DM_HALL</td><td>8 / 16</td><td>29</td><td>24</td></tr>
            <tr><td>🧱 CloseCombat</td><td>MP_DM_CORRIDORS</td><td>10 / 16</td><td>36</td><td>39</td></tr>
        </tbody>
    </table>
</div>