/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  width: 100%;
  min-width: 340px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  height: 100%;
}
app-headers{
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}
app-root{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    height: 100%;
}